@model IEnumerable<Assignment1.Models.Description>

@{
    ViewBag.Title = "Description";
}

<h2>About</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create")
    }
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game1.Game1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Protagonist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Game1.Game1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Protagonist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Edit", "Edit", new { id = item.DescId })
}

            @Html.ActionLink("Details", "Details", new { id = item.DescId }) 

            @if (Request.IsAuthenticated)
            {
        @Html.ActionLink("Delete", "Delete", new { id = item.DescId })
            }

        </td>
    </tr>
}

</table>
